//fonts

$main-font: 'Roboto',
    sans-serif;

//fonts color

$main-font-color: #04003e;
$secondary-font-color: #9f9f9f;
$details-font-color: #ff0000;

//color

$main-color: #213b88;
$secondary-color: #545454;
$details-color: #383b9c;

$main: #0040ff4c;