//fonts

$main-font: 'Roboto',
    sans-serif;

//fonts color

$main-font-color: #bcb0b0;
$secondary-font-color: #000000;
$details-font-color: #ff0000;

//color

$main-color: #000000;
$secondary-color: #545454;
$details-color: #ff0000;